services:
  deluge:
    container_name: deluge
    image: linuxserver/deluge:latest
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    ports:
      - 8112:8112
      - 6881:6881/tcp
      - 6881:6881/udp
    networks:
      server_net:
        ipv4_address: 172.18.0.2
    volumes:
      - auto_download_watch:/downloads-watch
      - nas_downloads_active:/downloads-active
      - nas_downloads_completed:/downloads # needs to match with *arr suite, so '/downloads' is required
      - deluge_config:/config

  jackett:
    container_name: jackett
    image: linuxserver/jackett:latest
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - AUTO_UPDATE=true
    ports:
      - 9117:9117
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - auto_download_watch:/downloads-watch
      - jackett_config:/config
    networks:
      server_net:
        ipv4_address: 172.18.0.3

  flaresolverr:
    container_name: flaresolverr
    image: flaresolverr/flaresolverr:latest
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=${TIMEZONE}
    ports:
      - 8191:8191
    restart: unless-stopped
    networks:
      server_net:
        ipv4_address: 172.18.0.4

  watchtower:
    container_name: "watchtower"
    image: nickfedor/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    environment:
      - "WATCHTOWER_CLEANUP=true"
      - "WATCHTOWER_SCHEDULE=${WATCHTOWER_SCHEDULE}"
      - "WATCHTOWER_DEBUG=${WATCHTOWER_DEBUG}"
    restart: unless-stopped
    networks:
      server_net:
        ipv4_address: 172.18.0.5

  portainer_agent:
    container_name: "portainer_agent"
    image: portainer/agent:latest
    restart: always
    ports:
      - 9001:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      server_net:
        ipv4_address: 172.18.0.6

  server_health_pinger:
    container_name: server_health_pinger
    image: sethsteenken/http-pinger:latest
    restart: unless-stopped
    environment:
      - URL=${HEALTHCHECKSIO_URL}
      - CRON_SCHEDULE=${HEALTHCHECKSIO_CRON_SCHEDULE}
    networks:
      server_net:
        ipv4_address: 172.18.0.7

volumes:
  auto_download_watch:
    name: "auto_download_watch"
  nas_downloads_active:
    name: "nas_downloads_active"
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NAS_IP_ADDRESS},rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/mnt/default_pool/downloads/_torrents/active"
  nas_downloads_completed:
    name: "nas_downloads_completed"
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NAS_IP_ADDRESS},rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/mnt/default_pool/downloads/_torrents/completed"
  deluge_config: 
    name: "deluge_config"
  jackett_config:
    name: "jackett_config"
networks:
  server_net:
    name: server_net
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
          gateway: 172.18.0.1

