services:

  home_assistant:
    container_name: "home_assistant"
    entrypoint:
      - "/init"
    image: "docker.io/homeassistant/home-assistant:latest"
    labels:
      docker-volume-backup.stop-during-backup: true
    networks:
      server_net:
        ipv4_address: 172.18.0.9
    ports:
      - "8123:8123/tcp"
    privileged: true
    restart: "unless-stopped"
    dns:
      - 172.18.0.90
      - 1.1.1.1
    security_opt:
      - "label=disable"
    volumes:
      - "home_assistant_data:/config"
    working_dir: "/config"
    healthcheck:
      test: "curl --connect-timeout 10 --silent -f http://localhost:8123/ || exit 1 "
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 30s
  foundry_virtual_tabletop:
    container_name: foundry_virtual_tabletop
    image: felddy/foundryvtt:13
    volumes:
      - nas_gaming_foundry_tabletop:/data
    environment:
      - FOUNDRY_PASSWORD=${FOUNDRY_VTT_PASSWORD}
      - FOUNDRY_USERNAME=${FOUNDRY_VTT_USERNAME}
      - FOUNDRY_ADMIN_KEY=atropos
    ports:
       - 30000:30000
    restart: unless-stopped
    dns:
      - 172.18.0.90
      - 1.1.1.1
    networks:
      server_net:
        ipv4_address: 172.18.0.17

  plex:
    container_name: "plex"
    devices:
      - "/dev/dri:/dev/dri"
    entrypoint:
      - "/init"
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "VERSION=latest"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    image: "lscr.io/linuxserver/plex:latest"
    networks:
      server_net:
        ipv4_address: 172.18.0.8
    ports:
      - "32400:32400/tcp"
    restart: "always"
    dns:
      - 172.18.0.90
      - 1.1.1.1
    volumes:
      - "plex_server_config:/config"
      - "nas_media:/mnt/nas/shared/media"
    working_dir: "/"
    healthcheck:
      test: "curl --connect-timeout 15 --max-time 100 --silent --show-error --fail 'http://localhost:32400/identity' >/dev/null"
      interval: 1m
      timeout: 15s
      retries: 3
      start_period: 1m
    
volumes:
  home_assistant_data:
    name: home_assistant_data
  foundry_virtual_tabletop_data:
    name: foundry_virtual_tabletop_data
  plex_server_config:
    name: plex_server_config
  nas_gaming_foundry_tabletop:
    name: nas_gaming_foundry_tabletop
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NAS_IP_ADDRESS},rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/mnt/default_pool/gaming_foundry_tabletop"
networks:
  server_net:
    name: server_net
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
          gateway: 172.18.0.1
